html{
   scroll-behavior: smooth;
}


body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

 nav{
    background-color:  black;
    color: white;
    padding: 20px 50px;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}

.input-search {
    border: none;
    background-color: transparent;
}

.input-search::placeholder{
    color: lightgray;
}

 .limited-offer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
 }

 .nav-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
 }



 .menu-item{
    margin-right: 50px;
    cursor:pointer;
    font-weight: 400;
    color: lightgray;
 }

 .slider {
    background: url('img/bg1.jpg');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);  
    overflow: hidden;
 }

 .slider-wrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
 }

 .slider-item {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }

 .sliderbg {
        width: 750px;
        height: 750px;
        border-radius: 50%;
        position: absolute;
 }
   .slider-img {
    z-index: 1;
   }

 .slider-title {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
 }
 .slider-price {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    border: 1px solid gray;
    z-index: 1;
 }
 .buy-button {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 300;
    color: white;
    background-color: black;
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
 }

 .buy-button:hover {
    background-color: white;
    color: black;
 }

 .slider-item:nth-child(1) .sliderbg{
    background-color: #369e62;
 }
 .slider-item:nth-child(2) .sliderbg{
    background-color: cornflowerblue;
 }
 .slider-item:nth-child(3) .sliderbg{
    background-color: rebeccapurple;
 }
 .slider-item:nth-child(4) .sliderbg{
    background-color: teal;
 }
 .slider-item:nth-child(5) .sliderbg{
    background-color: rgb(124, 115, 80);
 }

 .slider-item:nth-child(1) .slider-price{
    color: #369e62;
 }
 .slider-item:nth-child(2) .slider-price{
    color: white;
 }
 .slider-item:nth-child(3) .slider-price{
    color: rebeccapurple;
 }
 .slider-item:nth-child(4) .slider-price{
    color: teal;
 }
 .slider-item:nth-child(5) .slider-price{
    color: rgb(124, 115, 80);
 }

 .features {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 50px;
 }

.feature {
   display: flex;
   align-items: center;
   flex-direction: column ;
   text-align: center ;
}

 .featureImg{
   width:50px;
   height: 50px;
 }

 .featureTitle{
   font-size: 20px;
   font-weight: 600;
   margin: 20px;
 }
 .featureDesc{
    color: gray;
    width: 50%;
    height: 100px;
 }
  

    .order {
      width: 500px;
      height: 500px;
      background-color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 10px 50px;
      display: none;
      flex-direction: column;
    }

    .orderTitle {
      font-size:30px;
      font-weight: 400;
      align-self: center;
      color: lightgray;
    }

    .orderinput {
      padding: 5px;
      margin: 10px 0px;
      border: none;
      border-bottom: 1px solid gray;

    }

    .orderinput::placeholder{
      color: lightgray;
    }
       .cardicons {
         display: flex;
       }

       .cardicon{
         margin-right: 10px;
       }

       .carddetails {
         display: flex;
         justify-content: space-between;
       } 

      .sm {
         width: 20%;
      }

      .orderbtn{
         position: absolute;
         height: 40px;
         bottom: -40px;
         width: 100%;
         left: 0;
         background-color: #369e62;
         color: white;
         border: none;
         cursor: pointer;
      }

      .closeOrder{
         width: 20px;
         height: 20px;
         position: absolute;
         top: 20px;
         right: 20px;
         background-color: gray;
         color: white;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         padding: 2px;
      }

 .product{
   height: 100vh;
   background-color: whitesmoke;
   position: relative;
 }

 .productImg{
   width: 40%;
 }

.productDetails{
   position: absolute;
   top: 10%;
   right: 0%;
   width: 40%;
   padding: 30px;
}

.productTitle {
   font-size: 75px;
   font-weight: 600;
}

.productPrice{
     font-size: 20px;
     font-weight: 600;
}

.productDesc {
   font-size: 24px;
   color: gray;
}

.colors, .sizes{
   display: flex;
   margin-bottom: 20px;
}

.color {
   width: 32px;
   height: 32px;
   border-radius: 5px;
   background-color: black;
   margin-right: 10px;
   cursor: pointer;
}
.color:last-child {
   background-color: darkblue;
}

.size {
   padding: 5px 20px;
   border: 1px solid black;
   margin-right: 10px;
   cursor: pointer;
   font-size: 20px;
}

.productButton {
   float: right;
   padding: 10px 20px;
   border-radius: 5px;
   background-color: black;
   color: white;
   cursor: pointer;
   font-weight: 600;
}

.productButton:hover{
   background-color: white;
   color: black;
}

.new-season{
   display: flex;
}

.nsitem{
   flex: 1;
   background-color: rgb(6, 6, 20);
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
}


.nsbutton{
   padding: 10px;
}

.nsimg{
   width: 100%;
}

footer{
   display: flex;
}

.footerLeft{
   flex: 2;
   display: flex;
   justify-content: space-between;
   padding: 50px;
}


.fmenutitle{
   font-size: 16px;
}
.flists{
   padding: 0;
   list-style: none;
}

.flistitems{
   margin-bottom: 10px;
   color: gray;
   cursor: pointer;
}

.footerRight{
   flex: 1;
   padding: 50px;
   display: flex;
   flex-direction: column;
 justify-content: space-between;
}

.frinput{
   padding: 5px;
}

.frbutton{
   padding: 5px;
   background-color: black;
   color: white;
}

.fsocials{
   display: flex;
}

.fsocial{
   width: 20px;
   height: 20px;
   margin-right: 10px;
}

.copyright{
   font-weight: 300;
   font-size: 14px;
}

@media screen and (max-width:480px){
   nav{
      padding: 20px;
   }

   .search{
      display: none;
   }

   .nav-bottom{
      flex-wrap: wrap;
   }

   .menu-item{
      margin: 20px;
      font-size: 20px;
      font-weight: 700;
   }
   .slider {
      clip-path: none;
   }
   .slider-img{
      width: 90%;
   }
   .sliderbg {
      width: 100%;
      height: 100%;
   }
   .slider-title{
      display: none;
   }
   .slider-price{
      top: unset;
      bottom: -50px;
      left: 0;
      background-color: lightgray;
   }
   .buy-button{
      top: unset;
      bottom: 0;
      right: 0;
   }
   .features{
      flex-direction: column;
   }
   .product{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .productImg{
      width: 60%;
   }
   .productDetails{
      width: 100%;
      padding: 0;
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .productTitle{
      font-size: 50px;
      margin: 0;
   }
   .new-season{
      flex-direction: column;
   }
   .nsitem:nth-child(2){
      padding: 50px;
   }

    footer {
      flex-direction: column;
      align-items: center;
    }
    .footerLeft{
      width: 90%;
      padding: 20px;
   }
   .footerRight{
      width: 90%;
      padding: 20px;
      align-items: center;
      background-color: whitesmoke;
   }
   .order{
      width: 90%;
      padding: 20px;
   } 
}